.pagination {
    margin: 1rem;

    &__list {
        display: flex;

        &__item + &__item {
            margin-left: 1rem;
        }

        &__item {
            &--previous,
            &--next {
                flex-grow: 1;
            }

            &--next {
                text-align: right;
            }

            &--active {
                font-weight: bold;
            }
        }
    }
}